<!-- templates/about/author.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} <title>Об авторе проекта</title>{% endblock %}
{% block content %}
  <img class="card-img-top" src="{% static 'img/coder.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Привет, я автор.</h5>
    <p class="card-text">Эта социальная сеть - мой проект в Яндекс.Практикуме, также в копилке телеграм бот и фитнес-трекер. Изучаю Python и framework Django,
    работу с реляционными базами данных. <br>
    Никакой уточки, помогающей писать код, у меня нет, но зато есть огромное желание добиться поставленной цели.</p>
  </div>
{% endblock %}