<!-- templates/about/tech.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Технологии</title>
{% endblock %}
{% block content %}
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static 'img/python.jpg' %}" alt="Python">
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">Изучал питона на практике написания модуля для фитнес-трекера и лучшей социальной сети в мире YaTube.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/django.jpg' %}" alt="Django">
    <div class="card-body">
      <h5 class="card-title">Django</h5>
      <p class="card-text">Замечательный фреймоворк питона, позволяющий быстро создавать и работать с веб-приложениями.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/sql.jpg' %}" alt="SQLite">
    <div class="card-body">
      <h5 class="card-title">SQLite</h5>
      <p class="card-text">Основы работы с базами данных SQLite, PostgreSQL.</p>
    </div>
  </div>
</div>
{% endblock %}