<!-- templates/about/tech.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Технологии</title>
{% endblock %}
{% block content %}
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static 'img/python.jpg' %}" alt="Python">
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">Python, Git, HTML, CSS, Bootstrap</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/django.jpg' %}" alt="Django">
    <div class="card-body">
      <h5 class="card-title">Framework</h5>
      <p class="card-text">Django, Django Rest Framework</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/sql.jpg' %}" alt="SQLite">
    <div class="card-body">
      <h5 class="card-title">Database</h5>
      <p class="card-text">ORM ,SQLite, PostgreSQL.</p>
    </div>
  </div>
</div>
{% endblock %}